BasecodeLibrary/BasecodeLibrary/obj/Debug/*
BasecodeLibrary/BasecodeLibrary/bin/Debug/*
BasecodeLibrary/BasecodeLibrary/obj/*
BasecodeLibrary/BasecodeLibrary/bin/*
/BasecodeLibrary/.vs/BasecodeLibrary
/SandboxUWPApp/.vs/SandboxUWPApp
